@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  background-color: rgb(15, 15, 15) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
h1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-fluid {
  padding: 0 !important;
}
.modal-header {
  background-color: rgb(15, 15, 15) !important;
}
.modal-header > .btn-close {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.modal-body {
  background-color: rgb(15, 15, 15) !important;
}
.nav-link:after {
  content: "/";
  position: relative;
  right: -10px;
}
.dropdown-menu {
  background-color: rgb(15, 15, 15) !important;
}
.text-image > div {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
@media screen and (max-width: 992px) {
  .text-image > div {
    top: 50%;
    transform: translateY(-50%);
    position: static !important;
  }
}
